

body{
    background-color: #FFFFF0;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.womenology{
    display: flex;
    font-size: 50px;
  

}
ul{
    margin-top:70px ;

    color: #DEB887;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
font-size: 30px;


}



.bgfoto{
    background-image: url(bg.jpg);
    background-size: 100% 100%;
    display: flex;
  
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.bgfoto h2{
   
    font-family: Georgia, serif;
   
    margin-top: 350px;
    margin-bottom: 350px;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
   
}



footer{
    background-color: #DEB887;
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    margin-top: 50px;

}




.description{
    display: flex;
    flex-direction: column;
    
}

.whatwedo{
    display: flex;
    justify-content: center;
    font-family: Georgia, serif;
    font-size: 40px;

}
.about{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #DEB887;
}

.about:hover{
   color: black;
}
 footer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
 }
.fillimifooter{
    display: flex;
    justify-content: center;
}


.fundifooter{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}


.description{
    margin-top: 10px;
    border: solid #DEB887;
    margin-left: 20px;
    margin-right: 20px;
}

.search{
    display: flex;
    flex-direction: column;
}
.s{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
.searchi{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}

.connect{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 70px;
}
.ff{
    display: flex;
    justify-content: center;
    
   
}


.button button{
    color: #FFFFF0;
    background-color: #DEB887;
    border: none ;
    display: flex;
    width: 50px;
    height: 30px;
    margin-top: 70px;
   justify-content: center;
    

}

.searchh{
    border-radius: 25px;
    border: 1px solid #DEB887;
}

.butoni_bg{
    border-radius: 25px;
    border: 1px solid #DEB887;
}

.womenology img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
}




.login-btn{
    position: absolute;
    top: 70px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}
/*per telefona*/
@media only screen and (max-width:850px){
    nav{
        padding:0;
    }

    .womenology{
        position: absolute;
        top: 30px;
        left:30px;
    }

     ul{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
       /*margin-top: -900px;*/
       

    }
    ul li{
        padding: 30px;
        
    }


    

    
}