



body{
    background-color: #FFFFF0;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.womenology{
    display: flex;
    font-size: 50px;


}
ul{
    margin-top:70px ;

    color: #DEB887;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
font-size: 25px;

}





footer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: #DEB887;
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    margin-top: 50px;

    

}
.fillimifooter{
    display: flex;
    justify-content: center;
}
.fundifooter{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.womenology img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.section-b{
    display: flex;
    flex-direction: column;
    
    

}

.name{
    border-radius: 5px;
    background-color: antiquewhite;
    border: 1px solid #DEB887;
    height: 30px;
}

.email{

    border-radius: 5px;
    background-color: antiquewhite;
    border: 1px solid #DEB887;
    height: 30px;
}
.subject{
    border-radius: 5px;
    background-color: antiquewhite;
    border: 1px solid #DEB887;
    height: 30px;
}
.message{
    border-radius: 5px;
    background-color: antiquewhite;
    border: 1px solid #DEB887;
    height: 200px;

}

.submit{
    background-color: antiquewhite;
    color: #DEB887;
    border:1px solid #DEB887;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    display: flex;
  
    
}
.section-a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*per telefona*/
@media only screen and (max-width:850px){
    nav{
        padding:0;
    }

    .womenology{
        position: absolute;
        top: 30px;
        left:30px;
    }

     ul{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
       
       

    }
    ul li{
        padding: 30px;
        
    }

    .section-a{
        
        font-size: 12px;
     
       

    }
 p{
    display: flex;
    flex-wrap: wrap;
 }

    .section{
        display: flex;
        flex-wrap: wrap;
    }
    .section-b{
        font-size: 20px;
        width: 250px;

    }

    .womenology p{
        font-size: 35px;
    }
}
